<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/layout/header.ejs %>
</head>

<body>

    <div class="brand">Le rendez-vous !</div>
    <div class="address-bar">1348 Place Sainte-Barbe | Ottignies-Louvain-la-Neuve, Belgique | 0473/32.86.85</div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Inscrivez-vous</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            <fieldset>

                                <div class="form-group">
                                    <label for="pseudo">Votre pseudo</label><br />
                                    <input class="form-control" placeholder="Pseudo" name="pseudo" value="" autofocus required>
                                </div>

                                <div class="form-group">
                                    <label for="email">Votre adresse e-mail</label><br />
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Votre mot de passe</label><br />
                                    <input class="form-control" placeholder="Mot de passe" name="password" type="password" value="" required>
                                </div>

                                <!--<div class="form-group">
                                    <label for="icone">Photo de profil (JPG ou PNG | max. 15 Ko)</label><br />
                                    <input type="file" name="icone" id="icone" /><br />
                                </div>-->

                                <!-- Change this to a button or input when using this as a form -->
                                <div class="form-group">
                                    <input type="hidden" name="utilisateur" value="utilisateur">
                                <button type="submit" class="btn btn-lg btn-success btn-block">Inscription</button>
                                </div>
                            </fieldset>
                            <a href="/login">Déjà inscrit?</a>
                        </form>     <!-- href="/" class="btn btn-lg btn-success btn-block"  -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery 
    <script src="js/jquery.min.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript 
    <script src="js/metisMenu.min.js"></script>

    Custom Theme JavaScript 
    <script src="js/sb-admin-2.js"></script>-->

    <!--  A rajouter: si on veut liste déroulante   -->

    <!--<div class="form-group col-lg-4">
        <label for="barFav">Votre type de bar favori</label><br />
        <select name="barFav" id="barFav">
           <option value="relaxant">relaxant</option>
           <option value="musical">musical</option>
           <option value="dansant">dansant</option>
           <option value="karaoke">karaoké</option>
           <option value="aucun">aucun</option>
       </select>
    </div>
    <div class="form-group col-lg-4">
        <label for="restaurantFav">Votre type de resto favori</label><br />
        <select name="restaurantFav" id="restaurantFav">
           <option value="chaleureux">chaleureux</option>
           <option value="gastronome">gastronome</option>
           <option value="calme">calme</option>
           <option value="rapide">rapide</option>
           <option value="aucun">aucun</option>
       </select>
    </div>
    <div class="form-group col-lg-4">
        <label for="sortieFav">Votre type de sortie favorite</label><br />
        <select name="sortieFav" id="sortieFav">
           <option value="calme">calme</option>
           <option value="deguisee">déguisée</option>
           <option value="groupe">en groupe</option>
           <option value="gratuite">gratuite</option>
           <option value="aucun">aucun</option>
       </select>
    </div>-->    

</body>

</html>
