<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/layout/header.ejs %>
</head>

<body>

    <div class="brand">Le rendez-vous !</div>
    <div class="address-bar">1, Place Sainte-Barbe | Ottignies-Louvain-la-Neuve, Belgique 1348| 0473/32.86.85</div>

    <% include ../views/layout/navigation-bar.ejs %>

    <!--Filtres-->
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-md-6 col-md-offset-3">
                    <hr>
                    <h2 class="intro-text text-center">Vos
                        <strong>filtres</strong>
                    </h2>
                    <hr>

                    <form>
                    <label class="radio-inline">
                      <input type="radio" name="filtre" id="inlineRadio1" value="calme"> Soirée calme
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="filtre" id="inlineRadio2" value="déguisé"> Soirée déguisée
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="filtre" id="inlineRadio3" value="groupe"> Soirée en groupe
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="filtre" id="inlineRadio3" value="gratuite"> Soirée gratuite
                    </label>
                    <label class="radio-inline">
                        <input type="submit" value="Filtrer" class="btn btn-default">
                    </label>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Nos
                        <strong>sorties</strong>
                    </h2>
                    <hr>
                </div>

                <% for(var i = 0 ; i < etablissements.length ; i++){ %>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/soiree.jpg" alt="">
                    <h2><%=etablissements[i].nom%>
                    </h2>
                    <p><%=etablissements[i].description%></p>
                    <a href="/boire/<%=etablissements[i].nom%>" class="btn btn-default btn-lg">Allons-y!</a>
                    <hr>
                </div>

                <% }%>

            </div>
        </div>

    </div>
    <!-- /.container -->

    <% include ../views/layout/footer.ejs %>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
