<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../views/layout/header.ejs %>
</head>

<body>

    <div class="brand">Le rendez-vous !</div>
    <div class="address-bar">1, Place Sainte-Barbe | Ottignies-Louvain-la-Neuve, Belgique 1348| 0473/32.86.85</div>

    <% include ../views/layout/navigation-bar.ejs %>

    <!--Filtres-->
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-md-6 col-md-offset-3">
                    <hr>
                    <h2 class="intro-text text-center">Vos
                        <strong>filtres</strong>
                    </h2>
                    <hr>

                    <form method="get">
                    <label class="radio-inline">
                      <input type="radio"  id="inlineRadio1" value="relaxant" name="filtre"> Bar relaxant
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="inlineRadio2" value="musical"name="filtre"> Bar musical
                    </label>
                    <label class="radio-inline">
                      <input type="radio"  id="inlineRadio3" value="dansant" name="filtre"> Bar dansant
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="inlineRadio4" value="karaoke" name="filtre"> Bar karaoké
                    </label>
                        <label class="radio-inline">
                            <input type="submit" value="Filtrer" class="btn btn-default">
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Nos
                        <strong>bars</strong>
                    </h2>
                    <hr>
                </div>
                <% for(var i = 0 ; i < etablissements.length ; i++){ %>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/bar.jpg" alt="">
                    <h2><%=etablissements[i].nom%>
                    </h2>
                    <p><%=etablissements[i].description%></p>
                    <a href="/boire/<%=etablissements[i].nom%>" class="btn btn-default btn-lg">Allons-y!</a>
                    <hr>
                </div>

                <% }%>


                <!--<div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/bar2.jpg" alt="">
                    <h2>
                    </h2>
                    <p></p>
                    <a href="/boire" class="btn btn-default btn-lg">Allons-y!</a>
                    <hr>
                </div>-->


            </div>
        </div>

    </div>
    <!-- /.container -->

    <% include ../views/layout/footer.ejs %>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
